#wrapper {
    width: 100%;
    margin: 0 auto;

}

header, #main, #main > header, #left > header, footer {
    width: 90%;
}

header, #main, #main > header, #left, #left > header, #left > article, #right, #right > header, #right > article, footer {
    margin: 10px auto;
    padding: 2%;
}

header, #main > header,  #left, #left > header, #left > article, #right, #right > header, #right > article {
    border: 1px solid #000000;
}

header, #left > header, #right > header {
    text-align: center;
}

#left {
    float: left;
}

#right {
    float: right;
}

#left, #left > article, #right, #right > article {
    width: 40%;
}

footer {
    clear: both;
}